body {
  margin: 0;
  line-height: 1.8;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
}

.message {
  font-size: 32px;
  font-weight: 700;
}

.gray-input-text {
  border: 2px solid #888;
  font-size: 20px;
  padding: 8px;
}

.gray-input-text::placeholder {
  opacity: 0.5;
}

.gray-input-text:disabled {
  border-color: #eee;
}

.green-btn {
  font-weight: 700;
  font-size: 18px;
  background-color: #4caf50;
  border: 2px solid #2c8020;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

.green-btn:hover {
  background-color: #2c8020;
}

.green-btn:disabled {
  cursor: not-allowed;
  background-color: #888;
  border-color: #888;
}

.gray-btn {
  font-weight: 700;
  font-size: 18px;
  background-color: #e7e7e7;
  border: 2px solid #ccc;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

.gray-btn:hover {
  background-color: #ccc;
}

.gray-btn:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  border-color: #ccc;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

/* position/order */

.order {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  padding: 4px 8px;
}

.order > * {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
}

.order.header {
  background-color: #eee;
  font-weight: 700;
}

.order.header > * {
  align-items: center;
  font-size: 14px;
}

.position {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 16px;
  padding: 4px 8px;
}

.position.header {
  background-color: #eee;
  font-weight: 700;
}

.position.header > * {
  align-items: center;
  font-size: 14px;
}

.position.header > .expire_day {
  font-size: 14px;
}

.position > * {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
}

summary {
  background: white;
  padding-left: 16px;
}

.name {
  width: 320px;
  font-size: 20px;
  align-items: flex-start;
}

.name > :nth-child(1) {
  font-size: 12px;
}

.margin {
  width: 80px;
  font-size: 12px;
  align-items: flex-start;
}

.side {
  width: 48px;
  font-size: 24px;
}

.price {
  width: 96px;
  align-items: flex-end;
}

.qty {
  width: 80px;
  align-items: flex-end;
}

.order_qty {
  width: 80px;
}

.order_qty > * {
  padding: 4px;
}

.order_qty > :nth-child(2) {
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0px;
  border-color: #888;
  border-style: solid;
}

.expire_day {
  width: 86px;
  font-size: 14px;
}

.order_state {
  width: 80px;
}

.margin_premium {
  width: 96px;
  align-items: flex-end;
}

.valuation {
  width: 140px;
  font-size: 24px;
  align-items: flex-end;
}

.expenses {
  width: 80px;
}

.profitloss {
  width: 128px;
  font-size: 20px;
  align-items: flex-end;
}

.detail_item {
  font-size: 12px;
}
